/************************
        General Rule
************************/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;     
}

ul{
    list-style: none;
    display:flex ;
}

li{
    padding: 10px;
}

:root{
    --primaryBtn:#0061ff;
    --bgHeader:#b4d0e7;
}

/************************
        Utility
************************/
.hero{
    width: 1000px;
    margin:10em auto;
}

.spaceLeft{
    padding-left: 1em;
}

.primaryCl{
    color: #0061ff;
}

.spaceBottom{
    margin-bottom: 1em;
}

.softText{
    color: gray;
    margin: 0.4em 0px;
}

.servize{
    margin-top:2em;
}


/************************
        Header
************************/
.container{
    width: 100%;
    max-height: 700px;
    background-color: var(--bgHeader);
    display: flex;
    flex-direction: column;
}
/* TOP */
.top{
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7em;
}
/* Left */
.left{
    display: flex;
}

.logo{
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.logoIcon{
    width: 100px;
}
/* Right */
.right{
    display: flex;
    align-items: center;
    justify-content: center;
}
.start{
    padding: 0.5em 1.4em;
    border:1px solid blue;
    background-color: var(--primaryBtn);
    color: white;
}
/* BOTTOM */
.bottom{
    width: 1050px;
    margin:100px auto 0px auto;
    display: flex;
    flex-direction: column;
}

.bottom h1{
    font-size: 63px;
    font-weight: 700;
}
/* Text and img area */
.textAndImg{
    margin-top: 70px;
    display: flex;
}

.textArea{
    display: flex;
    flex-direction: column;
}

.text{
    font-size: 17px;
}

.jumboImg{
    width: 790px;
}

.btnTextArea{
    padding: 0.5em 1.4em;
    border:1px solid blue;
    background-color: var(--primaryBtn);
    color: white;
    margin: 1em 0px;
}

.icon{
    margin: 1em 0px;
    font-size: 40px;
}

/************************
        Main
************************/

/* select piano */
#billYear{
    margin-left: 1.5em;
}

.selectrBusines{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.inputBusines{
    margin:2em 0px;
    display: flex;
}

.listBusines{
    display: flex;
    justify-content: space-between;
}

.col{
    width: calc(100% / 3 - 50px);
    border:1px solid grey;
}

.tag{
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    padding: 1em;
}

.boxed{
    padding: 30px;
    
}

.littleTitle{
    font-size: 28px;
}

.specifications{
    padding: 0.8em  0px;
}

.iconService{
    padding-right: 0.5em;
}

.btnFreeTrial{
    width: 100%;
    background-color: #0061ff;
    color: white;
    padding: 1em;
    margin: 2em 0px;
}

.pointSalt{
    margin-top: 2em;
    font-size: 17;
    margin-bottom: 1em;
}

.advantages{
    padding: 1em 0px;
}
/* Team piano */
.teamCategory{
    width: 100%;
    display: flex;
    justify-content: center;
    border: 1px solid lightgray;
    margin: 3em 0px 2em;
}

.iconTeamCategory{
    margin: 1em;
    padding: 0.1em;
    
}