/************************
        General Rule
************************/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;     
}

.html{
    scroll-behavior: smooth; 
}

ul{
    list-style: none;
}

body{
    position: relative;
}
:root{
    --primaryBtn:#0061ff;
    --bgHeader:#b4d0e7;
    --firstSquere:#a2d39b;
    --SecondSquere:#61082b;
    --therdquere:#0093ce;
    --fourSquere:#ff1c1c;
    --fiveSquere:#d5001f;
    --sixSquere:#b4d0e7;
    --sevenSquere:#0d2481;
    --eightSquere:#ffd830;

}
/************************
        Utility
************************/
.noLinkStyle{
    text-decoration: none;
}

.superSpace{
    margin: 10em auto;
}

.superSpaceTop{
    margin-top: 10em;
}

.superSpaceBottom{
    margin-bottom: 10em;
}

.pading30{
    padding: 30px;
}

.w600Px{
    width: 600px;
}

.w300Px{
    width: 300px;
}

.w154{
    width: 154px;
}

.bg-color{
    background-color: #b4d0e7;
}

.white{
    color: white;
}

.black{
    color: #000;
}

.darkMode{
    background-color: #000;
    color: white;
}

.primaryCl{
    color: #0061ff;
}

.btnMod{
    border:1px solid blue;
    background-color: var(--primaryBtn);
    color: white;
}

.softText{
    color: gray;
    margin: 0.4em 0px;
}

.noSee{
    display: none;
}

/************************
        Header
************************/
/* navbar*/
.containerHeader{
    max-height: 700px;
    background-color: var(--bgHeader);
}

.navbar{
    background-color: white;
    padding:0px 0.7em;
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: -1.5px 10.5px 16px -9px #737070;
}

.nav{
    padding: 0.7em;
}

.navbar li{
    padding:0.5em 1em;
}

.logo{
    margin-right: 10px;
}

.logoIcon{
    width: 100px;
}

/* jumbotron */
.jumbotron{
    width: 1200px;
    margin:100px auto 0px auto;
}

.jumbotron section h1{
    font-size: 63px;
    font-weight: 700;
}

.boxJumbotron{
    margin-top: 70px;
}

.jumboImg{
    width: 790px;
}

.icon{
    margin: 1em 0px;
    font-size: 40px;
}

/************************
        Main
************************/
/* Section-1 */
#billYear{
    margin-left: 1.5em;
}

.col{
    width: calc(100% / 3 - 50px);
    border:1px solid lightgray;
}

.tag{
    border-bottom: 1px solid lightgray;
}

.specifications{
    padding: 0.8em  0px;
}

.iconService{
    padding-right: 0.5em;
}

.btnFreeTrial{
    background-color: #0061ff;
    color: white;
}

.btnFreeTrial:hover{
    cursor: pointer;
}

/* Section-2 */
.teamCategory{
    border: 1px solid lightgray;
    margin: 3em 0px 0em;
}

.containerEnterpsie{
    padding: 30px;
    border: 1px solid lightgray;
}

.btnContactOffice{
    background-color: var(--primaryBtn);
    color: white;
}

/* Section-3 */
.textSerchPartner{
    padding: 50px;
}

.btnSerchPartner{
    width: 150px;
    padding: 0.5em 1.4em;
    border:1px solid grey;
    background-color: white;
    color: grey;
}

/* Section-4 */
.ContainerOptionsDrop{
    text-align: left;
}

.boxOptionDrop{
    margin-top: 2.5em;
    margin-bottom: 6em;
}

.boxedOptionDrop{
    max-width: 300px;
}

/* Section-5 */
.squereBig{
    width: calc(100% - 60vw);
    height:30vw
}

.squere{
    width: 50%;
    height: 50%;
    background-color: var(--firstSquere);
}

.squere1{
    background-color: var(--firstSquere);
    box-shadow: inset #D1E9CD 0 0 0 15px;
}
.squere2{
    background-color: var(--SecondSquere);
}
.squere3{
    background-color: var(--therdquere);
}
.squere4{
    background-color: var(--fourSquere);
}
.squere5{
    background-color: var(--fiveSquere);
}
.squere6{
    background-color: var(--sixSquere);
}
.squere7{
    background-color: var(--sevenSquere);
}
.squere8{
    background-color: var(--eightSquere);
}

.squereBigmidle{
    width: calc(100% / 3);
    padding: 50px;
}


/* Section-6 */
.box{
    width: 100%;
    height: 360px;
}

/* Section-7 */

.arrowBottom{
    transition: 0.5s;
}

.question:hover .arrowBottom{
    rotate: 180deg;
}

.question:hover p.noSee{
    display: block;
}

/************************
        Footer
************************/
/* parte alta */
.containerFoter{
    width: 1200px;
    margin: auto;
}

.boxedFooter{
    width: calc(100% / 5);
}

.containerFoter .boxedFooter ul li{
    padding: 0.3rem 0px;
}

/* parte bassa */
.hrMinii{
    width: 10%;
    margin: 2em 0px;
}